USE [master]
GO
/****** Object:  Database [ValiullinShopDB]    Script Date: 20.10.2023 20:34:53 ******/
CREATE DATABASE [ValiullinShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ValiullinShopDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ValiullinShopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ValiullinShopDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ValiullinShopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ValiullinShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ValiullinShopDB]
GO
/****** Object:  Table [dbo].[ValiullinShopDB]    Script Date: 20.10.2023 20:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ValiullinShopDB](
	[Id] [int] NOT NULL,
	[Category] [nvarchar](max) NULL,
	[Brand] [nvarchar](max) NULL,
	[Model] [nvarchar](max) NULL,
	[Price] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [varchar](100) NULL,
	[Caliber] [float] NULL,
	[Cartridge] [nvarchar](max) NULL,
	[Clip] [int] NULL,
	[Pneumatics] [nvarchar](max) NULL,
	[Power] [int] NULL,
	[Bullet] [nvarchar](max) NULL,
	[Blade] [nvarchar](max) NULL,
	[Handle] [nvarchar](max) NULL,
	[Lenght] [float] NULL,
	[Range] [int] NULL,
	[Weapon] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
